main {
    background-image: url(/images/backgroun-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}


.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.contact-text {
    max-width: 180px;
    padding: 40px;
}

.opening-hours, .customer-service {
    border-width: 5px;
    padding: 15px;
    border-radius:5px;
    border: 2px solid #03529794;
    margin: 20px;
    background-color: white;
    
}

.customer-service {
    margin-bottom: 50px;
}


.opening-hours {
    max-width: 200px;
    margin: 50px auto;
    
}

form h3  {
    padding: 0px 30px 20px 30px ;
}
.form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 40px;
    max-width: 200px;
    font-size: 14px;
    text-decoration: bold;

}

input {
    margin: 15px;
}

#email-updates {
    min-width: 140px;
}

#send {
    padding: 5px 30px;
    margin-left: 50px;
    background-color: #e8630a;
    text-transform: uppercase;
    font-size:1em;
    border-radius:7px;
}


@media (max-width:510px) {

    .contact-info, .opening-hours {
        font-size: 0.8em;
    }
}

@media (max-width:444px) {

    .contact-info, .opening-hours {
        font-size: 0.7em;
    }

    .opening-hours {
        max-width: 150px;
    }
}